.paragraphBox {
    width: 100%;
    margin: 0 auto;
    animation: moveInBottom .1s ease-out;
    animation-fill-mode: backwards;
}

.heroParagraph {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 140%;
    padding: 20px 0;
}

.tokenHero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 75%;
    margin: 0 auto;
}

.tokenText {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    width: 85%;
    animation: moveInLeft 1s ease-in-out;
}
.tokenHeroSub {
    display: grid;
    grid-template-rows: 1fr 80px .5fr;
}

.heroHeadingToken {
    margin: 80px auto;
}

.heroPic {
    animation: moveImage 1.5s ease-in-out;
}


@media screen and (max-width: 968px) {
    .heroPic {
        display: none;
    }

    .tokenHero {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}


@media screen and (max-width: 425px) {
    .heroTitleTwo {
        font-size: 30px;
        line-height: 155%;
        text-align: center;
    }

    .tokenText {
        font-size: 13px;
        line-height: 199%;
        text-align: center;
        width: 100%;
    }

    .heroParagraph {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }
}


.subHeaderToken {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    margin: 20px auto 120px;
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
}

.heroPic {
    position: relative;

}

.heroImageOne {
    position: absolute;
    top: 5%;
    left: -5px;
}

.heroImageTwo {
    position: absolute;
    top: 25%;
    right: 0;
}

.heroImageThree {
    position: absolute;
    top: 55%;
    left: 0;
}

.heroImageFour {
    position: absolute;
    top: 67%;
    right: -10px;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    cursor: pointer;
}

.chartImage {
    width: 550px;
    height: 550px;
    transform: scale(1);
    transition: all ease-in .3s;
}

.chartImage:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 968px) {
    .chartImage {
        width: 80%;
        height: 80%;
    }
}

.vesting {
    padding: 60px 0;
    background: #0F1243;
}

.vestingBox {
    width: 80%;
    margin: 0 auto;
}

.vestHeading {
    padding: 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 140%;
    z-index: 100;
}

.vestText {
    color: #828089;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    z-index: 100;
    padding: 20px 0;
    width: 50%;
}

@media screen and (max-width: 968px) {
    .vestText {
        width: 90%;
    }
}




.vestGroup {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 75%;
    margin: 50px auto;

}

.vestItem {
    opacity: 0.8;
    border-radius: 15px;
    padding: 30px;
    background: url("./assets/Rectangle 39.png") no-repeat center;
}

.itemTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.itemTop > span {
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
}

.itemName {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 140%;
    color: #01D3AE;
    margin: 35px 0;

}

.itemText {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 180%;
    color: #ECECEC;
}

.useCases {
    padding: 60px 0;
    background: #151849;
}

.useHeading {
    width: 80%;
    margin: 0 auto;
}

.useAbout {
    width: 75%;
    margin: 60px auto;
}

